@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
@media screen and (max-width: 390px) {
  html,
  body {
    width: 100%;
  }

  header.headerGroup {
    position: absolute;
    width: 100%;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color: #b97575;
  }

  img.filmIcon {
    position: absolute;
    left: 19.49%;
    right: 45.13%;
    top: -16px;
    bottom: 92.77%;
    mix-blend-mode: soft-light;
  }

  img.bars {
    position: absolute;
    width: 38px;
    height: 40px;
    left: 334px;
    top: 10px;
  }

  section.nameGroup {
    position: absolute;
    width: 355px;
    height: 343px;
    left: 17px;
    top: 195px;
    background-color: #b1b1b11f;
    backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  section.firstSection {
    position: absolute;
    width: 390px;
    height: 783px;
    left: 0px;
    top: 61px;
    background-image: url(pictures/background.jpg);
  }

  p.title {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 8px;

    font-family: Schoolbell;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;

    color: #000000;
  }

  div.registerBar {
    position: absolute;
    width: 355px;
    height: 45px;
    left: 17px;
    top: 135px;

    background: rgba(185, 117, 117, 0.62);
    border-radius: 20px;
  }

  p.reg {
    margin-top: -5px;
    font-family: Sansita Swashed;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;

    color: #ffffff;
  }

  div.firstNameBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 20px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.lastNameBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 60px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.mailBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 100px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.createButton {
    position: absolute;
    width: 169px;
    height: 45px;
    left: 94px;
    top: 180px;

    background: #b97575;
    border-radius: 10px;
  }

  div.abortButton {
    position: absolute;
    width: 216px;
    height: 45px;
    left: 70px;
    top: 240px;

    background: #b97575;

    box-sizing: border-box;

    border-radius: 10px;
  }

  button.createButton {
    background-color: rgba(255, 255, 255, 0);
    width: 169px;
    height: 45px;
    border-radius: 10px;

    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    color: #ffffff;
  }

  button.cancelButton {
    background-color: rgba(255, 255, 255, 0);
    width: 216px;
    height: 45px;
    border-radius: 10px;

    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    color: #ffffff;
  }

  input.firstName {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  input.lastName {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  input.email {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  div.adds {
    position: absolute;
    width: 301px;
    height: 21px;
    left: 45px;
    top: 140px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  p.addsQuestion {
    margin-top: -1px;
    margin-left: 40px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
  }
  input.addsClick {
    position: absolute;
    width: 26px;
    height: 21px;
    left: 10px;
    top: 137px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.blurryBox {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 840px;

    background: #000000;
    filter: blur(3px);
  }
  section.section2 {
    position: absolute;
    width: 390px;
    height: 880px;
    left: 0px;
    top: 838px;
    background-image: url(pictures/section2t.jpg);
    z-index: -1;
  }

  div.topMoviesText {
    position: absolute;
    width: 280px;
    height: 64px;
    left: 53px;
    top: 50px;

    background: rgba(216, 216, 216, 0.9);
  }

  div.topMoviesBox {
    position: absolute;
    width: 368px;
    height: 279px;
    left: 11px;
    top: 140px;

    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  div.pictureContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    gap: 10px;
  }

  div.newMoviesText {
    position: absolute;
    width: 280px;
    height: 64px;
    left: 52px;
    top: 450px;

    background: rgba(216, 216, 216, 0.9);
  }

  div.newMoviesBox {
    position: absolute;
    width: 368px;
    height: 275px;
    left: 11px;
    top: 540px;

    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
  img.movies {
    width: 111px;
    height: 265px;
  }

  p.movieText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
  }

  #menu {
    position: absolute;
    width: 35px;
    height: 30px;
    margin: 20px 15px;
    margin-left: 335px;

    cursor: pointer;
  }
  .bar {
    height: 5px;
    width: 100%;
    background-color: #000000;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  #bar1 {
    transform: translateY(-4px);
  }
  #bar3 {
    transform: translateY(4px);
  }
  .nav li a {
    color: #fff;
    text-decoration: none;
  }
  .nav li {
    list-style: none;
    padding: 20px 0;
    margin-left: 250px;
    font-family: Sansita Swashed;
  }
  .nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
  }
  .menu-bg,
  #menu-bar {
    top: 0;
    left: 0;
    position: absolute;
  }
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 350px;
    background: radial-gradient(circle, #000000c9, #b97575);

    border-radius: 10%;
    transition: 0.3s ease;
  }
  #menu-bar {
    z-index: 2;
  }
  .change-bg {
    width: 160px;
    height: 200px;
    transform: translate(-80%, -20%);
  }
  .nav li a:hover {
    font-weight: bold;
  }
  .change .bar {
    background-color: white;
  }
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  .change #bar3 {
    transform: translateY(-6px) rotate(45deg);
  }
  .change #bar2 {
    opacity: 0;
  }
  .change {
    display: block;
  }

  section.section3 {
    position: absolute;
    width: 390px;
    height: 835px;
    left: 0px;
    top: 1668px;

    background-image: url(pictures/section2t.jpg);
    z-index: -1;
  }

  div.informationBox {
    position: absolute;
    width: 319px;
    height: 48px;
    left: 36px;
    top: 130px;
    border-radius: 10px;
    background: #b97575c4;
  }
  p.mapText {
    font-family: Rozha One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #ffffffbd;
  }

  p.informationText {
    margin-top: -3px;
    font-family: Rozha One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 57px;
    text-align: center;

    color: #ffffffc2;
  }

  div.mapBox {
    position: absolute;
    width: 319px;
    height: 269px;
    left: 36px;
    top: 270px;

    background: #c4c4c4;
  }
  div.textBox {
    position: absolute;
    width: 319px;
    height: 99px;
    left: 36px;
    top: 560px;
    border-radius: 10px;

    background: #b97575;
  }

  img.map {
    width: 320px;
    height: 270px;
    border-radius: 10px;
  }
}
