@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");
@media screen and (max-width: 390px) {
  html,
  body {
    width: 100%;
  }

  header.headerGroup {
    position: absolute;
    width: 100%;
    height: 61px;
    left: 0px;
    top: 0px;
    background-color: #b97575;
  }

  img.filmIcon {
    position: absolute;
    left: 19.49%;
    right: 45.13%;
    top: -16px;
    bottom: 92.77%;
    mix-blend-mode: soft-light;
  }

  img.bars {
    position: absolute;
    width: 38px;
    height: 40px;
    left: 334px;
    top: 10px;
  }

  section.nameGroup {
    position: absolute;
    width: 355px;
    height: 343px;
    left: 17px;
    top: 195px;
    background-color: #b1b1b11f;
    backdrop-filter: blur(4px);
    border-radius: 10px;
  }

  section.firstSection {
    position: absolute;
    width: 390px;
    height: 783px;
    left: 0px;
    top: 61px;
    background-image: url(pictures/background.jpg);
  }

  p.title {
    position: absolute;
    width: 117px;
    height: 23px;
    left: 8px;

    font-family: Schoolbell;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;

    color: #000000;
  }

  div.firstNameBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 20px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.lastNameBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 60px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.mailBox {
    position: absolute;
    width: 336px;
    height: 32px;
    left: 10px;
    top: 100px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.createButton {
    position: absolute;
    width: 169px;
    height: 45px;
    left: 94px;
    top: 180px;

    background: #b97575;
    border-radius: 10px;
  }

  div.abortButton {
    position: absolute;
    width: 216px;
    height: 45px;
    left: 70px;
    top: 240px;

    background: #b97575;

    box-sizing: border-box;

    border-radius: 10px;
  }

  button.createButton {
    background-color: rgba(255, 255, 255, 0);
    width: 169px;
    height: 45px;
    border-radius: 10px;

    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    color: #ffffff;
  }

  button.cancelButton {
    background-color: rgba(255, 255, 255, 0);
    width: 216px;
    height: 45px;
    border-radius: 10px;

    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;

    color: #ffffff;
  }

  input.firstName {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  input.lastName {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  input.email {
    width: 328px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    outline: #ffffff;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  div.adds {
    position: absolute;
    width: 301px;
    height: 21px;
    left: 45px;
    top: 140px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  p.addsQuestion {
    margin-top: -1px;
    margin-left: 40px;
    font-family: Scope One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
  }
  input.addsClick {
    position: absolute;
    width: 26px;
    height: 21px;
    left: 10px;
    top: 137px;

    background: #b6b6b6;
    border-radius: 10px;
  }

  div.blurryBox {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 840px;

    background: #000000;
    filter: blur(3px);
  }
  section.section2 {
    position: absolute;
    width: 390px;
    height: 880px;
    left: 0px;
    top: 838px;
    background-image: url(pictures/section2t.jpg);
    z-index: -1;
  }

  div.topMoviesText {
    position: absolute;
    width: 280px;
    height: 64px;
    left: 53px;
    top: 50px;

    background: rgba(216, 216, 216, 0.9);
  }

  div.topMoviesBox {
    position: absolute;
    width: 368px;
    height: 279px;
    left: 11px;
    top: 140px;

    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }

  div.pictureContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    gap: 10px;
  }

  div.newMoviesText {
    position: absolute;
    width: 280px;
    height: 64px;
    left: 52px;
    top: 450px;

    background: rgba(216, 216, 216, 0.9);
  }

  div.newMoviesBox {
    position: absolute;
    width: 368px;
    height: 275px;
    left: 11px;
    top: 540px;

    background: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
  img.movies {
    width: 111px;
    height: 265px;
  }
}
